.greetingBox {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;

  .error {
    color: red;
    text-align: center;
  }

  .inputError {
    border: 2px solid red;
  }

  .bodyForm {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 30%;
    padding: 15px;
    border: 1px solid;

    input + input {
      margin-left: 5px;
      margin-right: 5px;
    }

    div {
      div {
        margin-top: 5px;
        text-align: center;
      }
    }
  }
}

@media (min-width: 600px) {
  .greetingBox .bodyForm {
    width: 240px;
  }
}

@media (max-width: 600px) {
  input {
    width: 70%
  }
}

@media (max-width: 280px) {
  .greetingBox {
    width: 280px;
  }
  input {
    width: 70%
  }
}